{% extends "happiness_app/base.html" %}
{% block body_block_not_auth %}

<div class="jumbotron">
  <h1 class="display-4">Welcome!</h1>
  <p> <a href="{% url 'user_login' %}">Login</a> to register your happiness level and check how your team is feeling today!</p>
</div>

{% endblock %}

{% block body_block_auth %}

<div class="jumbotron">
  <h1 class="display-4">Welcome, {{ user.username }}!</h1>
  <p> <a href="{% url 'register_happiness' %}">Register</a> your happiness level and check how your team is feeling today!</p>
</div>

{% endblock %}
