{% extends "happiness_app/base.html" %}
{% block body_block_not_auth %}

<div class="jumbotron">
  <h1>Welcome!</h1>
  <p> <a href="{% url 'user_login' %}">Login</a> to register your happiness level and check how your team is feeling today!</p>
</div>

{% endblock %}

{% block body_block_auth %}

<div class="jumbotron">
  <h1>Welcome, {{ user.username }}!</h1>
  <p class="mt-3">How are you feeling today?</p>
  <div class="container text-center">
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" class="custom-control-input" id="defaultInline1" name="customRadioInline" value="1">
      <label class="custom-control-label" for="defaultInline1">Unhappy</label>
    </div>

    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" class="custom-control-input" id="defaultInline2" name="customRadioInline">
      <label class="custom-control-label" for="defaultInline2">Not Happy</label>
    </div>

    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" class="custom-control-input" id="defaultInline3" name="customRadioInline">
      <label class="custom-control-label" for="defaultInline3">Neutral</label>
    </div>

    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" class="custom-control-input" id="defaultInline4" name="customRadioInline">
      <label class="custom-control-label" for="defaultInline4">Happy</label>
    </div>

    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" class="custom-control-input" id="defaultInline5" name="customRadioInline">
      <label class="custom-control-label" for="defaultInline5">Very Happy</label>
    </div>
  </div>

</div>

{% endblock %}
